html {
	background-image: linear-gradient(darkgrey , lightgrey ,grey );
	min-height: 100%;
	max-height: none;
}
body {
	color:#1C2833;
	font-family: tahoma;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	line-height: normal;
}
hr {
	border-style: none;
	border-top-style: dashed;
	border-color: grey;
	border-width: 5px;
	width: 95%;
}
table {
	border-spacing: 20px;
    border-collapse: separate;
}
img {
	height: 300px;
	width: 300px;
}
h3 {
	font-family: arial black;
}
p {
	text-align: center;
}
h1{
	font-family: Fantasy;
	font-size: 40px;
}

border: 5px solid grey;
	border-radius: 15px;